<h1>Ingrese pin</h1>
<div class="wrapper">
    <div class="box a">
        <label mat-input>{{ numPin | pinMask}}</label>
    </div>
    <app-teclado class="box b" (pushKey)="pushNumber($event)"></app-teclado>
    <div class="box c">
        <button mat-raised-button color="primary"
            (click)="onClickAceptar()"
            [disabled]="!isDisabled"
        >Aceptar</button>
        <button mat-raised-button color="primary"
            (click)="onClickReset()"
        >Limpiar</button>
    </div>
</div>