.example-card {
    max-width: 800px;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('https://www.originsw.com/images/logo.svg?v=1584372066218');
    background-size: cover;
  }