<div class="wrapper">
    <div class="box a">
        <label mat-input>{{ numTarj | creditCardMaskPipe}}</label>
    </div>
    <div [attr.disabled]="isDisabled ? true : null" class="box b">        
        <button mat-mini-fab
            *ngFor="let n of numSequence(9);let i = index;"
            (click)="pushNumber(i)"
            [attr.disabled]="isDisabled ? true : null"
        >{{i+1}}</button>        
        <button mat-mini-fab
            [attr.disabled]="true"
        >*</button>
        <button mat-mini-fab (click)="pushNumber(-1)">0</button>
        <button mat-mini-fab
            [attr.disabled]="true"
        >#</button>
    </div>
    <div class="box c">
        <button mat-raised-button color="primary"
            (click)="onClickAceptar()"
            [disabled]="!isDisabled"
        >Aceptar</button>
        <button mat-raised-button color="primary"
            (click)="onClickReset()"
        >Limpiar</button>
    </div>
</div>